@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <div class="navbar-right hidden-xs">
        @Html.ActionLink(User.Identity.Name + ", Logout", "Logout", "Login",
        null, new { @class = "btn btn-primary navbar-btn" })
    </div>
}
else
{
    <div class="nav navbar-nav navbar-right">
        @Html.ActionLink("Регистрация", "Register", "Login", null, new { @class = "btn btn-primary navbar-btn" })
        @Html.ActionLink("Вход", "Index", "Login", null, new { @class = "btn btn-primary navbar-btn" })
    </div>
}
