
@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Skype: sneik109<br />
    Phone: +38 068 73 42 402<br />
    <abbr title="Email">E:</abbr>
    sneik108@gmail.com
</address>

