
@{
    ViewBag.Title = "ShowMap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="navbar navbar-inverse" role="navigation">
        @Html.ActionLink("Вернуться", "Index", "Cart",
                     null,
                     new { @class = "btn btn-success navbar-btn" })
</div>
<h2>ShowMap</h2>
@Html.Partial("_GoogleMap")

